:root {
  --fuente-principal: "Montserrat", sans-serif;
  --input-escritura-ancho: 300px;
  --boton-ancho: min-content;
  --input-escritura-sombra-color:var(--paleta-secundario);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
}

body {
  background: var(--paleta-acento);
}
.error-message{
  text-transform: uppercase;
  color: var(--paleta-primario);
  font-weight: bold;
}
.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  row-gap: 40px;
}
.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}